:root {
    --bg-color: #ffffff;
    --fg-color: #000000;
    --border-color: #000000;
}

@media(prefers-color-scheme:dark) {
    :root {
        --bg-color: #000000;
        --fg-color: #ffffff;
        --border-color: #a9a9a9;
    }
    
    a {
        color: #00ffff;
        text-decoration: none;
    }

    a:visited, a:hover, a:focus, a:active {
        color: #00c5cd;
    }
    
    ::selection {
        background-color:  var(--fg-color);
        color: var(--bg-color);
    }

}

html,
body {
    background-color: var(--bg-color);
    min-height: 100%;
    line-height: 1.5;
    color: var(--fg-color);
    font-family: "Helvetica";
}


/* Responsive content positioning */
@media only screen and (min-width: 1020px) /* Large screens */
{
    body{
        padding: 10vh 25vw;
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 1020px) and (min-width: 750px) /* Small screens */
{
    body{
        padding: 5vh 10vw;
    }
}

@media only screen and (max-width: 750px) /* Small screens */
{
    body{
        padding: 2vh 5vw;
    }
}

/* Headers */
h1{font-size: 2.5rem;}
h2{font-size: 1.7rem;}
h1 > .subtitle, h3, h4, h5, h6{font-size: 1.3rem;}

.title{
    margin-bottom: 2.5rem;
    text-align: center;
}

.subtitle {
    text-align: right;
}

/* Padding & Margin */
* {margin: 0; padding: 0;}
pre, blockquote, ul, ol, p, table{
    margin: 1rem 0;
}

h1, h2{margin-top: 2rem; line-height: 2rem;}
h3, h4, h5, h6{margin-top: 1rem;}

/* Code */
pre, .verse {
    font-family: "Courier New";
    padding: .5rem;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    border-radius: 0.2rem;
    color: var(--fg-color);
    overflow-x: auto;
    font-size: 1.0em;
}

/* Blockquotes */
blockquote {
    border-left: 2px solid var(--border-color);
    padding-left: 1rem;
}

li{
    list-style-position: inside;
}

/* Overflows */
.outline-text-2, .outline-text-3, .outline-text-4{
    max-width: 100%;
    overflow-x: auto;
}

/* Table */
tr:nth-child(even) {
    background-color: #333;
}

th, td{
    padding: 0.5rem;
    text-align: center;
}

.underline{
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    text-align: left;
    display: flex;
    justify-content: space-around;
    border: 1px solid var(--border-color);
}

/* inline code */
:not(pre) > code {
    color: var(--fg-color);
    background-color: var(--bg-color);
    padding: 2px;
    font-family: "Courier New";
    font-size: 1.0em;
}

footer {
    margin: 0px;
    text-align: center;
    font-size: 0.7rem;
}


#umaring {
    margin: 0px;
    text-align: center;
    font-size: 1.0rem;
}

figcaption {
    text-align: center;
    font-size: 0.8rem;
}

